[
    {
        "name": "test_nominal_1",
        "files": [
            "src/caesar.c",
            "tests/test_nominal_1.c"
        ],
        "compilation_cmd": "-Isrc",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "test_nominal_2",
        "files": [
            "src/caesar.c",
            "tests/test_nominal_2.c"
        ],
        "compilation_cmd": "-Isrc",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "test_limit",
        "files": [
            "src/caesar.c",
            "tests/test_limit.c"
        ],
        "compilation_cmd": "-Isrc",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "test_arch",
        "files": [
            "src/caesar.c",
            "tests/test_arch.c"
        ],
        "compilation_cmd": "-Isrc",
        "machdep": "ppc_32"
    }
]
